<!doctype html>
<html lang="en" ng-app="formulaoneApp">
	<head>
	<title>Formula 1 Predictor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
	</head>
	<body>

		<div class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<a href="index.html" class="navbar-brand">F1 Predictor 2015</a>

					<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button>

					<div class="collapse navbar-collapse navHeaderCollapse">
						<ul class = "nav navbar-nav navbar-right">
							<li class = "active"><a href="index.html">Home</a></li>
							<li><a href="rules.html">Rules</a></li>
							<li><a href="login.html">Log In</a></li>
							<li><a href="Register.html">Register</a></li>
						</ul>
					</div>
				</div>
		</div>

		<div class="container">
			<div class="jumbotron text-center">
				<h1>Welcome to the F1 Predictor</h1>
				<p>Welcome to the University of Stirling's Computing Science and Mathematics department's Formula 1 Predictor League for the new and improved 2015 season!</p>
				<a href="#chooseteam" data-toggle="modal" class = "btn btn-success">Choose Team</a>
			</div>
		</div>

		<div class = "container">
			<div class="row">
				<div class="col-md-6">
					<h3 <a href="#">Leaderboard</h3>
					<div class="table-responsive ">
  						<table class="table table-bordered" ng-controller="LeaderboardCtrl">
							<tr class ="success">
								
								<td>Name</td>
								<td>Points</td>
							</tr>
							<tr ng-repeat="user in leaders | orderBy:-orderProp">
								<td>{{user.username}}</td>
								<td>{{user.points}}</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="col-md-6">
					<h3 <a href="#">Next 3 Races</h3>
					<div class="table-responsive ">
  						<table class="table table-bordered" ng-controller="FutureRacesCtrl">
							<tr class ="success">
								
								<td>Date</td>
								<td>Country</td>
							</tr>
							<tr ng-repeat="race in races | orderBy:orderProp">
								<td>{{race.date}}</td>
								<td>{{race.country}}</td>
							</tr>
						</table>
					</div>
				</div>


				<div class="col-md-3">
					
				</div>

				<div class="col-md-3">

				</div>
			</div>
		</div>

		<div class = "navbar navbar-default navbar-fixed-bottom">
			<div class = "container">
				<p class = "navbar-text pull-left">Please send e-mail to <a href="#contact" data-toggle="modal">pmc@cs.stir.ac.uk</a> to be registered to this website</p>
			</div>
		</div>

		<div class="modal fade" id="contact" role="dialog">
			<div class ="modal-dialog">
				<div class = "modal-content">
					<form class="form-horizontal">
						<div class="modal-header">
							<h4>Send E_mail</h4>
						</div>
						<div class = "modal-body">
							<div class="form-group">
								<label for = "contact-name" class = "col-lg-2 control-label">Name:</label>
								<div class = "col-lg-10">
									<input type = "text" class="form-control" id="contact-name" placeholder="Enter your name" />
								</div>
							</div>
							<div class="form-group">
								<label for = "contact-email" class = "col-lg-2 control-label">Email:</label>
								<div class = "col-lg-10">
									<input type = "email" class="form-control" id="contact-email" placeholder="Enter your E-mail address" />
								</div>
							</div>
							<div class="form-group">
								<label for = "contact-message" class = "col-lg-2 control-label">Subject:</label>
								<div class = "col-lg-10">
									<input type = "text" class="form-control" id="contact-name" value="F1 Predictor Query" />
								</div>
							</div>
							<div class="form-group">
								<label for = "contact-message" class = "col-lg-2 control-label">Message:</label>
								<div class = "col-lg-10">
									<textarea class="form-control" rows="8" placeholder="Enter the body of your e-mail here"></textarea>
								</div>
							</div>
						</div>
						<div class = "modal-footer">
							<a href="#" class="btn btn-default" data-dismiss = "modal">Close</a>
							<button class="btn btn-primary" type="submit">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="modal fade" id="chooseteam" role="dialog">
			<div class ="modal-dialog">
				<div class = "modal-content">
					<form class="form-horizontal">
						<div class="modal-header">
							<h4>Choose Team</h4>
						</div>
						<div class = "modal-body">
							<div class="form-group">
								<label for = "driver" class = "col-lg-3 control-label">Driver 1:</label>
								<div class = "col-lg-7">
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for = "driver" class = "col-lg-3 control-label">Driver 2:</label>
								<div class = "col-lg-7">
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for = "constructor" class = "col-lg-3 control-label">Constructor 1:</label>
								<div class = "col-lg-7">
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for = "constructor" class = "col-lg-3 control-label">Constructor 2:</label>
								<div class = "col-lg-7">
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
								</div>
							</div>
							<div class="checkbox">
							  <label>
							    <input type="checkbox" value="">
							    Use Joker?
							  </label>
							</div>
							<div class="form-group">
								<label for = "contact-name" class = "col-lg-5 control-label">Carried Over:</label>
								<div class = "col-lg-5">
									<input type = "text" class="form-control" id="contact-name" placeholder="Hint Text" />
								</div>
							</div>
							<div class="form-group">
								<label for = "contact-name" class = "col-lg-5 control-label">Remaining Budget:</label>
								<div class = "col-lg-5">
									<input type = "text" class="form-control" id="contact-name" placeholder="Hint Text" />
								</div>
							</div>
						</div>
						<div class = "modal-footer">
							<a href="#" class="btn btn-default" data-dismiss = "modal">Cancel</a>
							<button class="btn btn-primary" type="submit">Submit Selection</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/controllers.js"></script>
	</body>
</html>